@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;400;700&display=swap');
 @font-face {
  font-family: 'alien_worldregular';
  src: url('./alienworld-owj0x-webfont.woff2') format('woff2'),
       url('./alienworld-owj0x-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}  

:root {
  --main-bg-clr: #faf9f9;
  --body-bg-clr: #2a282a;
  --form-bg-clr: #fdfdfd;
  --para-clr: #090909;
  --link-clr: #06aed5;
  --link-hover-clr: #48c1c3;
  --submit-btn-clr: #2a282a;
  --input-default-clr: #E5E7EB;
  --input-selected-clr: #06aed5;
  --input-invalid-clr: #ee2a7d;
  --company-font: alien_worldregular, monospace, serif;
  --main-txt-font: 'Lexend', sans-serif;
  --logo-font-size: clamp(2.5rem, 3vw, 4.5rem);
  --intro-p-font-size: clamp(1rem, 3vw, 1.2rem);
  --input-label-font-size: clamp(.75rem, 3vw, 1.05rem);
  --btn-font-size: clamp(0.85rem, 3vw, 1.25rem);
  --logo-size: clamp(4rem, 10vw, 5.50rem);
  --footer-txt-side: clamp(.75rem, 3vw, 1rem);
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    /* border: 1px solid red;  */
}

body {
  background-color: var(--body-bg-clr);
  font-family: var(--main-txt-font);
  line-height: 1.5;
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--link-clr);
}

a:hover {
  color: var(--link-hover-clr);
  text-decoration: underline;
}

h1 {
  text-transform: uppercase;
  margin-top: -10px;
  letter-spacing: 0.25rem;
  font-size: var(--logo-font-size);
  padding-bottom: -10px;
}

.container {
  display: flex;
  min-height: 100vh;
  max-width: 77%;
  margin: auto;
  background-color: var(--main-bg-clr);
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url(./cyberpunk.jpg), rgb(17, 17, 107);
  background-size:cover;
  background-repeat: no-repeat;
  width: 30%;
}

.bg-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,.3);
  height: 200px;
  font-family: var(--company-font);
  color: white;
}

.bg-header > img {
  width: var(--logo-size);
  height: auto;
  margin-top: 5px;
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 70%;
}

main {
  height: 100%;
}

.intro {
  margin: 100px 100px 20px 40px;
}

.intro p{
  font-weight: 400;
  padding-bottom: 20px;
  font-size: var(--intro-p-font-size);
}

form {
  background-color: var(--form-bg-clr);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.form-container{
  background-color: var(--form-bg-clr);
}

.section-container {
  display: flex;
  flex-wrap: wrap;
  width: 77%;
  padding: 25px 25px 35px 25px;
}

.form-section {
  flex: 50%;
  padding: 16px 40px;
}

.form-section label {
  text-transform: uppercase;
}

input {
  outline: 0;
  display: block;
  width: 100%;
  border: 1px solid var(--input-default-clr);
  border-radius: 5px;
  padding: 5px;
  margin-top: 7px;
  box-shadow: 1px 2px 3px 1px rgba(0,0,0,0.15);
}

/* input:focus,
input:user-invalid,
.invalid {
  box-shadow: 1px 2px 3px 1px rgba(0,0,0,0.15);
} */

input:focus {
  border-color: var(--input-selected-clr);
}

 .invalid {
  border: 1px solid var(--input-invalid-clr);
}

input, label {
  font-size: var(--input-label-font-size);
}

.error {
  display: none;
  padding: 10px 5px;
  font-size: 0.9rem;
}

.error.visible {
  display: block;
}

.divider {
  height: 0;
  width: 100%;
  box-shadow:  0 2px 4px 1px rgba(0,0,0,0.15);
  z-index: 999;
} 

.btn-container {
  padding: 44px 40px 30px 40px;
  background-color: var(--main-bg-clr);
}

.btn-container button {
  background-color: var(--submit-btn-clr);
  color: var(--form-bg-clr);
  border: 0;
  border-radius: 8px;
  padding: 0.75rem 2.5rem;
  font-size: var(--btn-font-size);
  font-weight: 700;
  margin-bottom: 28px;
  cursor: pointer;
}

.btn-container button:hover {
  background-color: #ee2a7d;
  transition: 0.5s;
}

footer {
  padding: 20px;
  text-align: center;
  box-shadow:  0 2px 4px 1px rgba(0,0,0,0.15);
}

footer p {
  font-size: var(--footer-txt-side);
  font-weight: 300;
  line-height: 1.75em;
}

footer .fa-github{
  font-size: 20px;
}

@media screen and (max-width: 900px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .sidebar {
    width: 100%;
    height: inherit;
  }
  .main-content {
    width: 100%;
  }
  .intro {
    width: inherit;
    margin-top: 40px;
    margin-right: 40px;
  }
  .section-container {
    padding-top: 25px;
  }
  .btn-container button {
    align-self: stretch;
  }
}

@media screen and (max-width: 1230px) {
  .bg-header {
    height: auto;
  }
  .form-section {
    flex: 100%;
  }
  .btn-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .btn-container button {
    align-self: stretch;
  }
}

@media screen and (max-width: 1450px) {
  .section-container {
    width: 100%;
  }
}