@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;400;700&display=swap');
 @font-face {
  font-family: 'alien_worldregular';
  src: url('./alienworld-owj0x-webfont.woff2') format('woff2'),
       url('./alienworld-owj0x-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}  

:root {
  --main-bg-clr: #ced5d9;
  --body-bg-clr: #2a282a;
  --form-bg-clr: #fdfdfd;
  --para-clr: #090909;
  --link-clr: #48c1c3;
  --submit-btn-clr: #596D48;
  --input-default-clr: #E5E7EB;
  --input-selected-clr: #48c1c3;
  --input-invalid-clr: #ee2a7d;
  --company-font: alien_worldregular, monospace, serif;
  --main-txt-font: 'Lexend', sans-serif;
  --main-txt-font-size: 1.25rem;
  --form-font-size: 0.9rem;
  --form-btn-clr: #596D48;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    /* border: 1px solid red;  */
}

body {
  background-color: var(--body-bg-clr);
  font-family: var(--main-txt-font);
  width: 100%;
}

.container {
  display: flex;
  min-height: 100vh;
  max-width: 77%;
  margin: auto;
  background-color: var(--main-bg-clr);
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url(./cyberpunk.jpg), blue;
  background-size:cover;
  background-repeat: no-repeat;
  width: 30%;
}

.bg-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,.3);
  height: 200px;
  font-family: var(--company-font);
  color: white;
}

.bg-header > img {
  width: 5rem;
  height: auto;
  margin: 0;
}

#header {
  text-transform: uppercase;
  font-size: 3.75rem;
  margin-top: -14px;
  letter-spacing: 0.25rem;
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 70%;
}

main {
  height: 100%;
}

.intro {
  font-size: var(--main-txt-font-size);
  margin: 100px 100px 20px 40px;
}

.intro p{
  font-weight: 400;
  line-height: 1.95rem;
  padding-bottom: 20px;
}

form {
  background-color: var(--form-bg-clr);
  display: flex;
  flex-direction: column;
}

.form-container{
  background-color: var(--form-bg-clr);

}

.section-container {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  padding: 55px 0 55px 25px;

}

.form-section {
  flex: 50%;
  padding: 12px 15px;
}

.form-section label {
  text-transform: uppercase;
  font-size: var(--form-font-size);
}

input {
  outline: 0;
  display: block;
  width: 100%;
  border: 1px solid var(--input-default-clr);
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
  font-size: var(--form-font-size);
}

input:focus, input:invalid {
  border-color: var(--input-selected-clr);
  box-shadow: 1px 2px 3px 1px rgba(0,0,0,0.15);
}

input:focus {
  border-color: var(--input-selected-clr);
}

input:invalid {
  border-color: var(--input-invalid-clr);
}

.divider {
  height: 0;
  width: 100%;
  top: 78%;
  box-shadow:  0 0px 4px 1px rgba(0,0,0,0.25);
} 

.btn-container {
  padding: 25px 0 40px 35px;
  background-color: var(--main-bg-clr);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.75rem;
  font-weight: 300;
}

footer p {
  line-height: 1.15rem;
}